body{
  background-color: #e9ecef;
}
.row div{
  border-radius: 10px;
}
.card {
  padding: 5px;
  margin: 5px;
}
.col-md-3>.card{
  height: 100%;
}
h1{
  color: dimgrey;
}
.jumbotron{
  padding: 40px;
}
.card-body>span{
  font-size: 150%;
}
.card-body>#nb{
  font-weight: bold;
  font-size: 300%;
}
.firstrow{
  max-height: 170px;
}
.secondrow{
  max-height: 270px;
}
.clienttable{
  margin-left: 17%;
  margin-right: 17%;
}
#mapid { 
  box-shadow: lightgray 1px 1px 5px 0.5px;
  background-color: #343a40;
  width: 95%;
  height: 50em;
}
hr.mid{
  margin-top: auto;
  margin-bottom: auto;
  border-left: 0.8px solid lightgray;
  height: 60vh;
}
.btn-danger{
  height: 30px;
  width: 30px;
  padding: 0px;
  font-weight: bold;
}
form{
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
  box-shadow: lightslategrey 5px 5px 10px 0.5px;
  border-radius: 5px;
}
.form-group{
  margin-left: 35px;
  margin-right: 35px;

}
.visible {
  display: block;
}
.invisible {
  display:none;
}
.toa{
  border-radius: 5px;
  color:white;
  box-shadow: lightslategrey 5px 5px 10px 0.5px;
  padding-left: 25px;
}
.bg-red{
  border-radius: 5px;
  box-shadow: lightslategrey 5px 5px 10px 0.5px;
  padding-left: 25px;
  background-color: rgb(189, 52, 52);
  color: white
}
.popup{
  margin: 10px;
  text-align: center;
}
