body {
  background-color: #e9ecef;
}
.jumbotron {
  padding: 40px;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e9ecef;
}

::-webkit-scrollbar-thumb {
  background: #a8adb3;
}

.row div {
  border-radius: 3px;
}
.card {
  box-shadow: lightgray 1px 1px 2px 1px;
  padding: 5px;
  margin: 5px;
}
.col-md-3 > .card {
  height: 100%;
}
h1 {
  color: dimgrey;
}
.card-body > span {
  font-size: 150%;
}
.card-body > #nb {
  font-weight: bold;
  font-size: 300%;
}
.firstrow {
  max-height: 170px;
}
.secondrow {
  max-height: 270px;
}
hr.mid {
  margin-top: auto;
  margin-bottom: auto;
  border-left: 0.8px solid lightgray;
  height: 60vh;
}
.btn-danger {
  height: 30px;
  width: 30px;
  padding: 0px;
  font-weight: bold;
}
form {
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
  box-shadow: lightslategrey 2px 2px 5px 0.5px;
  border-radius: 4px;
}
div .profil{
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
  box-shadow: lightslategrey 2px 2px 5px 0.5px;
  border-radius: 4px;
  margin-left: 35px;
  margin-right: 35px;
}
.form-group {
  margin-left: 35px;
  margin-right: 35px;
}
.toa {
  border-radius: 5px;
  color: white;
  box-shadow: lightslategrey 5px 5px 10px 0.5px;
  padding-left: 25px;
}
.bg-red {
  border-radius: 5px;
  box-shadow: lightslategrey 5px 5px 10px 0.5px;
  padding-left: 25px;
  background-color: rgb(189, 52, 52);
  color: white;
}
.popup {
  margin: 10px;
  text-align: center;
}
.liste {
  height: 35em;
  overflow-y: scroll;
  overflow: auto;
  border-radius: 5px;
}
.listeProfil {
  height: 8.5em;
  overflow-y: scroll;
  overflow: auto;
  background:#FFF;
  border-radius: 5px;
  width: 20em;
}
#mapid {
  margin-top: 1em;
  box-shadow: lightgray 1px 1px 5px 0.5px;
  background-color: #343a40;
  width: 95%;
  height: 49em;
}
.clienttable {
  margin-left: 17%;
  margin-right: 17%;
  padding: 0;
  margin-bottom: 0.5em;
}
.select-address {
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
